body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(45deg,#7FFFD4,#3a4452);
}
table{
    background-color: black;
    align-items: center;
    width: 320px;
    border-radius: 18px;
    text-align: center;
    padding: 20px;
}
.btn{
    width: 60px;
    height: 60px;
    border-radius: 40px;
    text-align: center;
    font-size: 25px;   
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #404040;
    color: white;
    border: none;
}
.operator{
    width: 60px;
    height: 60px;
    border-radius: 40px;
    text-align: center;
    font-size: 25px;   
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
    background-color: rgb(238, 177, 23);
}
#btnAc{
    background-color: #A0A0A0;
}
#btnDe{
    background-color: #A0A0A0;
}
#btnPercentage{
    background-color: #A0A0A0;
}
.display{
    width: 280px;
    height: 35px;
    text-align: right;
    margin-top: 15px;
    font-size: 20px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 7px;
}